body {
  margin : 0px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: crimson;
  height: 52.3px;
}
.logo {
  width: 55px;
  height: auto;
  padding: 5px;
}
a {
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

form{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  color: crimson;
  align-items: center;
  text-align: center;
  width:50% ;
  margin: auto;
}

.Show img {
  width: auto;
  height: 150px;
  padding: 3px;
  align-items: center;
}

.Show {
  display: inline-block;
  padding: 7px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 25px;
  border: 3px solid crimson;
  border-radius: 7px;
}

h6{
  padding: 10px;
  color: white;
  font-size: 13px;
  margin: 0px;
}
.social {
  width: 40px;
  height: 40px; 
}
 